<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <div id='allpage' style="margin: 20px 20px 0 20px;">
        <h1 style="margin-left: 20px; font-weight: bold; width: 70%; display: inline-block;">Patient Dashboard</h1>
        <img src="img/icon.png" style="height: 155px; width: 155px; float: right; margin-top: 5px; margin-right: 20px;">
        <h2 style="margin-left: 20px; padding-bottom: 10px; width: 50%; display: inline-block;">Hello, <%= user.firstName %></h2>
        <a href="logout" style="margin-left: 20px;">log out</a>
    </div>
    <div class="pinfo" style="background-color: white; border-radius: 5px ;width: 45%; text-align: center; margin-top: 20px; margin-left: 20px; display: inline-block;">
        <h2 style="padding-top: 10px;">Your Daily Vital Signs</h2>
        <table style="width: 92%; margin: 0 auto;" class="table table-bordered table-sm table-light">
            <tr style="background-color: #f4a460;">
                <th class="text-left">Pulse Rate</th>
                <th class="text-left">Blood Pressure </th>
                <th class="text-left">weight</th>
                <th class="text-left">Temperature</th>
                <th class="text-left">Respiratory Rate</th>
                <th class="text-left">Date</th>
            </tr>
            <% signs.forEach(function(sign){ %>
                <tr id="tbrow">
                    <td class="text-left"><%= sign.pulseRate %></td>
                    <td class="text-left"><%= sign.bloodPressure %></td>
                    <td class="text-left"><%= sign.weight %></td>
                    <td class="text-left"><%= sign.temperature %></td>
                    <td class="text-left"><%= sign.respiratory %></td>
                    <td class="text-left"><%= sign.date.toLocaleDateString()%></td>
                <% })%>
                </tr>
        </table>
        <a class="btn btn-primary" href="signs" style="margin-top: 30px; margin-bottom: 20px; color: white;">Add Vital Sign</a>
    </div>
    <div class="rinfo" style="background-color: white; border-radius: 5px ; width: 45%; text-align: center; margin-top: 20px; margin-right: 20px; float: right;">
        <h2 style="padding-top: 10px;">Your First Responder Info</h2>
        <table style="width: 92%; margin: 0 auto;" class="table table-bordered table-sm table-light">
            <tr style="background-color: #87cefa;">
                <th class="text-left">Name</th>
                <th class="text-left">Email </th>
                <th class="text-left">Phone</th>
                <th class="text-left">Address</th>
                <th class="text-left">Relationship</th>
               
            </tr>
            <% reps.forEach(function(rep){ %>
                <tr id="tbrow">
                    <td class="text-left"><%= rep.name %></td>
                    <td class="text-left"><%= rep.email %></td>
                    <td class="text-left"><%= rep.phone %></td>
                    <td class="text-left"><%= rep.address %></td>
                    <td class="text-left"><%= rep.relationship %></td>
                <% })%>
                </tr>
        </table>
        <a class="btn btn-primary" href="res" style="margin-top: 30px; margin-bottom: 20px; color: white;">Add Response</a>
    </div>
</div>
<div class="tinfor"  style="background-color: white; border-radius: 5px ; margin: 20px;">
    <h2 style="margin-left: 20px; padding-top: 10px; padding-bottom: 10px; font-weight: bold; color: #ff8c00;">Userful Tip</h2>
    <% tips.forEach(function(tip){ %>
        <h3 style="margin-left: 20px"><%= tip.tip %></h3>
        <% })%>
</div>
    <div class="minfor"  style="background-color: white; margin: 20px; border-radius: 5px ; margin-top: 0px; width: 50%; display: inline-block;">
        <h2 style="margin-left: 20px; padding-top: 10px; padding-bottom: 10px; font-weight: bold; color: #ed143d;">Boost Your Motivation</h2>
        <ul style="padding-bottom: 10px;">
            <li> <a style="text-decoration: none;" href="https://themindofsteel.com/best-motivation-ever/">Best Motivational Article Ever</a></li>
            <li> <a style="text-decoration: none;" href="https://www.youtube.com/watch?v=oj8LCs1E_Wc">Emily Hayward's Story | Malignant Melanoma | Stand Up To Cancer (2019)</a></li>
            <li> <a style="text-decoration: none;" href="https://www.youtube.com/watch?v=qLGNj-xrgvY">"Mr Indifferent"</a></li>
        </ul>
    </div>
   
    <div class="minfor" style="background-color: white; border-radius: 5px ; margin: 20px; margin-top: 0px; margin-left: 150px ; width: 30%; display: inline-block; text-align: center;">
        <h2 style="margin-left: 20px; padding-top: 10px; padding-bottom: 10px; font-weight: bold; color: #1e90ff;">Diagnose common signs and symptoms </h2>
        <a class="btn btn-primary" href="list" style="margin-top: 30px; margin-bottom: 10px; color: white;">Start Now</a>
    </div>
    
  
    
 </body>
